<%- include('layout/header.ejs') %>


 <div class="container">
   <h1 class="text-center" style="transform:translateY(-50px); color:#5aad6c;">New User</h1>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <form action="/" method="post">
          <div class="mb-5 position-relative">
            <input type="text" placeholder="Nama" class="text" id="nama" name="nama" required>
          </div>
          <div class="mb-5 position-relative">
            <input type="text" placeholder="Nama Panggilan" class="text" id="namaPanggilan" name="namaPanggilan" required>
          </div>
          <div class="mb-5 position-relative">

            <input type="email" placeholder="Email" class="text" id="email" name="email" required>
          </div>
          <div class="flex mb-5">
              <input class="form-check-input" type="radio" name="jenisKelamin" value="Pria" id="pria">
              <label class="form-check-label" for="pria">
                Pria
              </label>
              <input class="form-check-input ms-5" type="radio" value="Wanita" name="jenisKelamin" id="wanita">
              <label class="form-check-label" for="wanita">
                Wanita
              </label>
          </div>
          <button type="submit" class="btn add-user">Tambah User</button>
        </form>
      </div>
    </div>
 </div>
<%- include('layout/footer.ejs') %>
